{{- define "main" }}
  <section class="news spotlight style2 orient-left content-align-left {{ .Params.image.class }}">
    <div class="inner medium">
    <header>
      <h2>{{ .Title }}</h2>
      <p>{{ .Date.Format "02 January 2006" }}</p>
    </header>
    {{ .Content }}
  </div>
  {{ if .Params.image }}
  <div class="image">
    {{ $alt := .Params.image.alt | default "Image for the news article" }}
    {{- with (resources.Get .Params.image.src).Resize "x600" }}
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}" />
    {{- end }}
  </div>
  {{ end }}
  </section>
{{- end }}
