// -----------------------------------------------------------------------------
// GENERAL
h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  margin-bottom: 1rem;
}

// Hidden headline, esp. h1
.hiddenhead {
  display: none;
}

// Site heading
#siteheading {
  padding: 4rem 7rem 0 7rem;
}

// Never center text on subpages
@media screen and (orientation: portrait) {
  .spotlight.style2 {
    text-align: left !important;
  }
}

// Generic class for margin reduction
.less-top-margin {
  margin-top: 1rem !important;
}

.less-bottom-margin {
  margin-bottom: 1rem !important;
}

// Button lists ul shall wrap
ul.actions {
  flex-wrap: wrap;
}

// -----------------------------------------------------------------------------
// SINGLE PAGES

// Always make inner container full width
div.inner.medium {
  width: 100%;
}


// -----------------------------------------------------------------------------
// NEWS
section.news,
section.news-list {

  &.spotlight.style2 {

    // Reduce padding
    @media (orientation: landscape) {
      padding: 3rem 7rem 2rem 7rem;
    }

  }
}

// Position news images rather on top
@media screen and (orientation: landscape) {
  section.news {
    align-items: flex-start !important;

    div.image {
      margin-top: 100px !important;
    }
  }
}

// Reduce image size in image listing, and on news items on small screens
.news-list.spotlight.style2 .image {
  width: 10rem;
  height: 10rem;
}

.news.spotlight.style .image {
  @media screen and (min-width: 469px) and (max-width: 736px) {
    width: 10rem;
    height: 10rem;
  }
}

// No box shadow for first section
section.news-list:first-of-type {
  box-shadow: none !important;
}


// -----------------------------------------------------------------------------
// MEMBERSHIP

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; // Center images vertically
  gap: 10px 50px;

  div.card.flex-4-per-row {
    // Size of the image container. Default: 200px
    $base_img_size: var(--base_img_size, 200px);
    // Resize the image when --resize is set. Usually a minus value to make logos the felt same size
    // Default: $base_img_size
    $img_square: calc(#{$base_img_size} + (var(--resize, 0px)));

    display: flex;
    flex-basis: 21%;
    flex-direction: column;
    align-items: center; // Ensure the content (image and text) is centered within each div
    flex-grow: 1;
    min-width: $base_img_size;
    min-height: $base_img_size;

    .image-wrapper {
      display: flex;
      align-items: center; // Ensure the content (image and text) is centered within each div
      height: $base_img_size;
      margin-bottom: 5px; // Space between image and text

      img {
        max-width: $img_square;
        max-height: $img_square;
        object-fit: contain;
      }
    }

    p {
      margin-top: 0px;
      font-size: 1.3rem;
    }
  }
}

// -----------------------------------------------------------------------------
// PEOPLE, PERSONS

div.people-gallery {
  // Width of person container, same as image and "box"
  $person-width: 250px;
  $person-width-small: 150px;
  $max-person-columns: 5;
  $person-gap: 30px;

  display: flex;
  gap: $person-gap;
  flex-wrap: wrap;

  // Max. $person-columns persons next to each other
  max-width: calc((#{$person-width} + #{$person-gap}) * #{$max-person-columns});

  section.person {

    min-width: $person-width !important;
    width: 0;

    // Image of person
    img {
      object-fit: cover;
      height: $person-width;
      width: $person-width;
      border-radius: 15px;
    }

    // Name of person
    h5 {
      font-size: 1.1rem;
      margin-bottom: 0;
      font-weight: 400;
    }

    // Text below person
    p {
      font-size: 0.8rem;
      margin-bottom: 0.2rem;

      // Do not wrap organisation name
      strong.nowrap {
        white-space: nowrap;
      }
    }

    // Links, e.g. LinkedIn
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        display: inline;
        padding-left: 0;
        margin-right: 5px;

        i {
          color: #444;
        }
      }
    }

    @media screen and (max-width: 767px) {
      min-width: $person-width-small !important;

      img {
        height: $person-width-small;
        width: $person-width-small;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// IMAGES and VIDEOS, especially hugomods-image related (like Bootstrap)

picture {
  img {
    max-height: 100%;
    max-width: 100%;
    height: inherit;
  }

  @media screen and (min-width: 768px) {
    &.float-start {
      float: left;
      margin-top: 10px;
      margin-right: 20px;
      margin-bottom: 10px;
      margin-left: 0px;
    }

    &.float-end {
      float: right;
      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 10px;
      margin-right: 0px;
    }
  }
}

figure {
  &.text-center {
    text-align: center;

    // Make centered images max-width 800px, but only on larger screens
    @media screen and (min-width: 1281px) {
      img {
        max-width: 800px;
      }
    }
  }

  figcaption {
    font-size: 0.8rem;
    text-align: center;
  }
}

// Space below embedded video which is div > iframe
div:has(> iframe) {
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &.video-fullsize-center {
    text-align: center;
    padding-bottom: 0;
    max-width: 800px;
    height: 100%;
    aspect-ratio: 16 / 9;
    margin-left: auto;
    margin-right: auto;
  }
}

// -----------------------------------------------------------------------------
// STRIPE and TOP NAVIGATION

// Make top-nav sticky
#wrapper {
  overflow: visible;
}

.top-nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

// Stripe styles
.stripe {
  position: fixed;
  z-index: 1;
  top: 50px; // height of nav
  right: 0;
  img {
    width: 200px;
    height: auto;
  }
}

// -----------------------------------------------------------------------------
// SUPPORTING PARTNERS

div.supporting-partners-gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 2rem;

  section.supporting-partner {
    display: flex;
    align-items: center;
    gap: 30px;

    a.logo {
      border-bottom: none;
      flex-shrink: 0;
    }

    img {
      max-width: 200px;
      max-height: 80px;
      object-fit: contain;
    }

    div.description {
      flex: 1;

      p {
        font-size: 0.9rem;
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// -----------------------------------------------------------------------------
// SECTIONS

section#staging-warning {
  padding: 0;
}

section.hero div.image {
  @media screen and (max-width: 886px) {
    max-height: 25vh;
  }
}
