// -----------------------------------------------------------------------------
// GENERAL
p {
  margin-bottom: 1rem;
}

// Hidden headline, esp. h1
.hiddenhead {
  display: none;
}

// Site heading
#siteheading {
  padding: 4rem 7rem 0 7rem;
}

// Never center text on subpages
@media screen and (orientation: portrait) {
  .spotlight.style2 {
    text-align: left !important;
  }
}

// -----------------------------------------------------------------------------
// SINGLE PAGES

// Always make inner container full width
div.inner.medium {
  width: 100%;
}


// -----------------------------------------------------------------------------
// NEWS
section.news,
section.news-list {

  &.spotlight.style2 {

    // Reduce padding
    @media (orientation: landscape) {
      padding: 3rem 7rem 2rem 7rem;
    }

  }
}

// Position news images rather on top
@media screen and (orientation: landscape) {
  section.news {
    align-items: flex-start !important;

    div.image {
      margin-top: 100px !important;
    }
  }
}

// Reduce image size in image listing, and on news items on small screens
.news-list.spotlight.style2 .image {
  width: 10rem;
  height: 10rem;
}

.news.spotlight.style .image {
  @media screen and (min-width: 469px) and (max-width: 736px) {
    width: 10rem;
    height: 10rem;
  }
}

// No box shadow for first section
section.news-list:first-of-type {
  box-shadow: none !important;
}


// -----------------------------------------------------------------------------
// MEMBERSHIP
.less-top-margin {
  margin-top: 1rem !important;
}

.less-bottom-margin {
  margin-bottom: 1rem !important;
}

#members-overview section {
  border: 0;

  @media screen and (min-width: 981px) {
    width: 25%;
  }
}

// -----------------------------------------------------------------------------
// PEOPLE, PERSONS

div.people-gallery {
  $person-width: 250px;

  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  section.person {

    min-width: $person-width !important;
    width: 0;

    // Image
    img {
      object-fit: cover;
      height: $person-width;
      width: $person-width;
      border-radius: 15px;
    }

    // Text
    h3 {
      font-size: 1.1rem;
      margin-bottom: 0;
    }

    p {
      font-size: 0.8rem;
      margin-bottom: 0.2rem;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        display: inline;
        padding-left: 0;
        margin-right: 5px;
      }
    }
  }
}
