<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        {{ if .title }}
            <h1 class="{{ with .titleclass }}{{ . }}{{ end }}">{{ .title }}</h1>
        {{ end }}
        {{ with .titleimage}}
        <header>
            <img src="{{ .src }}" width="90%" alt="{{ .alt }}" />
            <p>{{ .subtitle }}</p>
        </header>
        {{ end }}
        {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        <ul class="actions stacked"><li>
            {{ range .buttons }}
                <a href="{{ .link }}" class="{{ .class }}">{{ .label }}</a>&nbsp;
            {{ end }}
        </li></ul>
    </div>
    {{ with .image }}<div class="image">
        <img src="{{ .src }}" alt="{{ .alt }}" />
    </div>{{end}}
</section>
