<!-- Footer -->
<footer class="wrapper style3 align-center">
    <div class="inner">
        <hr />
        <p>{{ .introduction }}</p>
        <ul class="icons">
            {{ with .github }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>{{end}}
            {{ with .mastodon }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-mastodon"><span class="label">Mastodon</span></a></li>{{end}}
            {{ with .twitter }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-x-twitter"><span class="label">Twitter</span></a></li>{{end}}
            {{ with .linkedin }}<li><a target="_blank" href="{{.}}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}}
            {{ with .email }}<li><a href="{{.}}" class="icon style2 regular fa-envelope"><span class="label">Email</span></a></li>{{end}}
        </ul>
        <p>
            {{- range $i, $v := .links }}
                {{ if $i }} | {{ end }}
                <a href="{{ relURL .link }}">{{ .text }}</a>
            {{- end }}
        </p>
</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}
