p {
  margin-bottom: 1rem;
}

.hiddenhead {
  display: none;
}

/* News items (in spotlight style2) */
/* Never center text */
.news p,
.news h2,
.news-list p,
.news-list h3 {
  text-align: left !important;
}

/* Make image between 469-736px smaller than default (15.75rem) */
@media screen and (min-width: 469px)and (max-width: 736px) {
  .spotlight.style2 .image {
    width: 10rem;
    height: 10rem;
  }
}

/* Extra-small images and less section padding in news listing */
.news-list.spotlight.style2 .image {
  width: 10rem;
  height: 10rem;
}
.news-list.spotlight.style2 {
  padding: 3rem 7rem 2rem 7rem;
}

/* No box shadow for first section */
section.news-list:first-of-type {
  box-shadow: none !important;
}

/* Site heading */
#siteheading {
  padding: 4rem 7rem 0 7rem;
}
