RewriteEngine On
RewriteBase /

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Redirect all other domains to the main domain
RewriteCond %{HTTP_HOST} !^openrailassociation\.org$ [NC]
RewriteRule ^(.*)$ https://openrailassociation.org/$1 [R=301,L]

ErrorDocument 404 /404.html
